# WARNING: When you start the project in production, change these settings!!!

# Project settings
PROJECT_NAME=ready-to-use
COMPOSE_EXTRA=

# Postgres settings
POSTGRES_DB=ready-to-use-db
POSTGRES_USER=ready-to-use-user
POSTGRES_PASSWORD=ready-to-use-secret

# Docker settings
IMAGE_VERSION=latest

CPU_COUNT=1
CPU_SHARES=1024
CPU_PERIOD=100000
CPU_QUOTA=100000
CPUSET=0

CGROUP=host

DEPLOY_MODE=replicated
DEPLOY_REPLICAS=1
DEPLOY_ENDPOINT_MODE=vip
DEPLOY_RESTART_POLICY_CONDITION=on-failure
DEPLOY_RESTART_POLICY_DELAY=5s
DEPLOY_RESTART_POLICY_MAX_ATTEMPTS=3
DEPLOY_RESTART_POLICY_WINDOW=120s

DNS=1.1.1.1

HEALTHCHECK_TEST=pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
HEALTHCHECK_INTERVAL=5s
HEALTHCHECK_TIMEOUT=5s
HEALTHCHECK_RETRIES=5

COMMAND=postgres -c max_connections=100
